.cheap{
    border:1px solid black;
    width:160vh;
    max-width: 95vw;
    margin:0 auto;
}
.cheap__hotel{
    width:100%;
    height: auto;
}
.cheap__hotel--wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.hotel__content{
    position: relative;
    width: 24%;
    overflow: hidden;
}
.hotel__content>p{
    position: absolute;
    bottom: 1px;
}
.hotel__content>h1{
    position: absolute;
    left:1rem;
}