section{
    background: url('https://rare-gallery.com/uploads/posts/351193-4k-wallpaper.jpg');
    height: 100vh;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
}
.mainPage__img{
    height:50vh;
    top:35vh;
    right:0;
}
.section__wrapper{
    margin-top:20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
.section__content--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}