nav {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  background:rgba(255, 255, 255, 0.19);
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.781);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(3px);
}
.nav__wrapper{
  width:100%;
  display: flex;
  justify-content: space-between;
  max-width:150vh;
}
.nav__logo{
  height: 10vh;
}
.nav__ul {
  list-style: none;
  flex-direction: row;
  display: flex;
}
.nav__li {
  margin: 0 10px;
  font-size: 1.3rem;
  align-items: center;
  display: flex;
  cursor: pointer;
  padding: 10px;
  border-radius: 30px;
  transition: all 200ms ease-in-out;
}
.nav__li:hover {
  background-color: rgba(255, 255, 255, 0.337);
}
.nav__li:nth-of-type(4) {
  border: 3px solid black;
  padding: 7px;
}
svg {
  height: 1.3rem;
  width: 1.3rem;
  margin-right: 5px;
}
